@import "tailwindcss";

@theme {
  --color-dirtyrosa: #DD6A84;
  --color-light-dirtyrosa: #DBB0B2;
  --color-bleik: #EAD5DF;

}


.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
